@{
    ViewData["Title"] = "Home Page";
}
  

    <div class="text-center">
        <P class="display-4">Welcome to Our Contact Management Application </P>

        <address>
            Click link to   <a href="mailto:idrisbaita22@gmail.com">Email Us</a>.<br>
            Visit us at:<br>
            Mile Lane 8, Coventry<br>
            UK

        </address>



        <p>Learn about Harris  <a href="https://www.youtube.com/watch?v=1-QwkMkqgxE">How we provide tremendous and excellent support for customer</a>.</p>
    </div>
